body {
  background-color: #d4d4d4;
  font-family: Helvetica, sans-serif;
  margin: 5% 10% 5% 10%;
}

h1 {
  color: #665566;
  font-size: 30px;
  letter-spacing: 2px;
  text-align: center;
  border-style: none none solid;
  border-width: thin;
  padding: 0 0 6px 0;
  text-transform: uppercase;
}